@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css);

html,body {
    font-family: 'Open Sans';
  }

.section .is-medium {
  padding-top: 5rem;
}

#background{
  background-color:"red";
}